body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}

.butao {
  border-bottom-width: 3px;
  border-right-width: 4px;
  padding-right: 15px;
  padding-left: 15px;
  border-color: black;
  background-color: lightgreen;
  font-size: 16px;
}
/* On mouse-over */
.butao:hover {background: #eee;}

.normal {color: black; font-weight: bold}